<template>
  <div>
    <canvas id="tempChart"></canvas>
  </div>
</template>

<script>
import { Chart, registerables } from 'chart.js';
Chart.register(...registerables);

export default {
  name: 'TempChart',
  props: ['chartData'],
  mounted() {
    this.renderChart();
  },
  methods: {
    renderChart() {
      const ctx = document.getElementById('tempChart').getContext('2d');
      if (this.myChart) {
        this.myChart.destroy(); 
      }
      this.myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: this.chartData.labels,
          datasets: [{
            label: 'Temperature',
            data: this.chartData.temperatures,
            backgroundColor: 'rgba(66, 135, 245, 0.2)',
            borderColor: 'rgba(66, 135, 245, 1)',
            borderWidth: 2,
            tension: 0.4, 
            pointRadius: 3,
            pointBackgroundColor: 'rgba(66, 135, 245, 1)',
            fill: true
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            y: {
              beginAtZero: false,
              ticks: {
                stepSize: 1,
                callback: function(value) {
                  return value + '°F'; 
                }
              }
            },
            x: {
              display: true
            }
          },
          plugins: {
            legend: {
              display: false 
            },
            tooltip: {
              callbacks: {
                label: function(context) {
                  return `${context.parsed.y} °F`; 
                }
              }
            }
          }
        }
      });
    }
  },
  watch: {
    chartData: {
      deep: true,
      handler() {
        this.renderChart(); 
      }
    }
  }
};
</script>

<style scoped>
canvas {
  max-width: 100%;
  height: 250px; 
}
</style>
