<template>
  <div class="weather-widget">
    <div class="left-side">
      <div class="location">
        <div class="small-header">
          <label for="city">{{city}}</label>
          <label for="Time">{{ dateBuilder(new Date()) }}</label>
        </div>  
        <div class="searchbar">
          <input 
            type="text" 
            class="input form-control" 
            id="city" 
            v-model="holdCityName" 
            placeholder="Enter city"
            @keyup.enter=" fetchWeatherData"
          />
          <button class="cool-button" @click="fetchWeatherData" :disabled="isLoading">
            Search
          </button>
          <div v-if="isLoading" class="spinner"></div>
          <div v-if="error" class="alert alert-danger">{{ cityName }} isn't founded</div>
        </div>
      </div>
      <div class="weather-info">
        <div class="current-weather">
          <div class="temperature">
            <span>{{ Math.round(weather.main?.temp) }}°F</span>
          </div>
          <div class="description">{{ weather.weather?.[0].description }}</div>
        </div>
        <div class="details">
          <div class="humidity">
            <img src="/src/assets/humidity.png" alt="humidity" class="small-image"> 
            {{ weather.main?.humidity }}%</div>
          <div class="wind-speed">
            <img src="/src/assets/wind-speed.jpg" alt="wind-speed" class="small-image">
            {{ weather.wind?.speed }} km/h</div>
        </div>
        <!-- <div class="hourly-forecast">
          <div v-for="(hour, index) in hourlyForecast" :key="index" class="forecast-hour">
            <div>{{ new Date(hour.dt * 1000).toLocaleTimeString() }}</div>
            <div>Temp: {{ Math.round(hour.temp) }}°F</div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="right-side">
      <label class="small-header">Dayly Forecast</label>
      <div class="forecast-controls">
        <button class="cool-button" @click="setForecastLength(3)">3 Day </button>
        <button class="cool-button" @click="setForecastLength(5)">5 Day </button>
      </div>
      <div class="temp-graph">
        <TempChart :chart-data="chartData"></TempChart>
      </div>
      <div class="dayly-forecast">
        <div v-for="(day, index) in daylyForecast" :key="index" class="forecast-day" :class="{ today: index === 0 }">
          <div class="date">{{ forecastDateBuilder(new Date(day.dt * 1000)) }}</div>
          <label for="description">{{ day.weather[0].main }}</label>
          <div class="temperature">{{ Math.round(day.temp.day) }}°F</div>
        </div>
      </div>
    </div>
  </div>
</template>



<script>
import TempChart from './component/TempChart.vue';
import axios from 'axios';
import bgImage from '@/assets/bg.jpg';

export default {
  components: {
    TempChart,
  },
  data() {
    return {
      api_key: '12d4ab58506e548cf8fd57f003a171f3',  
      url_base: 'https://api.openweathermap.org/data/2.5/', 
      city: 'New York', // default city for initial load
      cityName: "",
      holdCityName: "New York",
      weather: {},
      daylyForecast: [],
      // hourlyForecast: [],
      forecastLength: 5,
      chartData: {
        labels: [], 
        temperatures: [] 
      },
      isLoading: false,
      error: null,
      bgImage: bgImage,
    };
  },
  mounted() {
    this.fetchWeatherData();
    this.updateChartData();
  },
  methods: {
    async fetchWeatherData() {
      this.isLoading = true;
      this.error = null;
      try {
        const weatherResponse = await axios.get(`${this.url_base}weather`, {
          params: {
            q: this.holdCityName,
            units: 'imperial',
            APPID: this.api_key
          }
        });
        this.setWeather(weatherResponse.data);
        this.city = weatherResponse.data.name;

        const forecastResponse = await axios.get(`${this.url_base}forecast`, {
          params: {
            q: this.holdCityName,
            units: 'imperial',
            APPID: this.api_key
          }
        });
        this.setForecast(forecastResponse.data);

        // const hourlyResponse = await axios.get(`${this.url_base}onecall`, {
        //   params: {
        //     lat: weatherResponse.data.coord.lat,
        //     lon: weatherResponse.data.coord.lon,
        //     exclude: 'current,minutely,daily,alerts',
        //     units: 'imperal',
        //     appid: this.api_key
        //   }
        // });
        // this.setHourlyForecast(hourlyResponse.data.hourly);
        
      } catch (error) {
        console.error('There was a problem with the fetch operation:', error);
        this.error = 'Failed to fetch data: ' + (error.response?.data?.message || error.message);
      } finally {
        this.isLoading = false;
      }
      this.cityName = this.holdCityName
    },
    // setHourlyForecast(hourlyData) {
    //   this.hourlyForecast = hourlyData;
    //   console.log('Hourly Forecast Data:', this.hourlyForecast);
    // },
    setWeather(data) {
      this.weather = data;
    },
    setForecastLength(days) {
      this.forecastLength = days;
      this.fetchWeatherData();
    },
    setForecast(data) {
      const dailyForecast = [];
      const dates = new Set();
      data.list.forEach((item) => {
        const date = new Date(item.dt * 1000);
        const dateString = date.toLocaleDateString();
        if (!dates.has(dateString) && dailyForecast.length < this.forecastLength) {
          dates.add(dateString);
          dailyForecast.push({
            dt: item.dt,
            temp: {
              day: item.main.temp,
            },
            weather: item.weather,
          });
        }
      });
      this.daylyForecast = dailyForecast;
      this.updateChartData();
    },
    updateChartData() {
      this.chartData.labels = this.daylyForecast.map((item) =>
        this.forecastDateBuilder(new Date(item.dt * 1000))
      );
      console.log('Updated chart data:', this.chartData);
      this.chartData.temperatures = this.daylyForecast.map((item) => item.temp.day);
    },
    dateBuilder(date) {
      const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
      const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

      let day = days[date.getDay()];
      let dayNumber = date.getDate();
      let month = months[date.getMonth()];
      let year = date.getFullYear();

      return `${day}, ${dayNumber} ${month} ${year}`;
    },
    forecastDateBuilder(date) {
      const fdays = ['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat'];

      let fday = fdays[date.getDay()]; 

      return `${fday}`
    },
  },
};
</script>


<style scoped>
.weather-widget {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom, #CDE8E5, #4D869C);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.left-side,
.right-side {
  flex: 1;
  padding: 20px;
}

.left-side {
  border-right: 1px solid #ddd;
  background: #EEF7FF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin: 10px;
}

.location {
  margin-bottom: 20px;
}

.location label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searchbar {
  display: flex;
  align-items: center;
}

.searchbar input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.btn-search {
  padding: 10px 20px;
}

.cool-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  margin-right: 10px;
}

.cool-button:hover, .cool-button:focus {
  background-image: linear-gradient(to left, #6a11cb 0%, #2575fc 100%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.cool-button:active {
  transform: scale(0.95);
}

.weather-info {
  text-align: center;
}

.Time {
  margin-bottom: 20px;
  font-weight: bold;
}

.current-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.current-weather {
  width: 100%;
  height: 100px;
}

.temperature {
  font-size: 5em;
  font-weight: bold;
}

.description {
  text-transform: capitalize;
  font-size: 1.2em;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}

.right-side {
  text-align: center;
  background: #7AB2B2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin: 10px;
}

.temp-graph {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.temp-graph .current-temp {
  font-size: 2em;
  font-weight: bold;
}
.small-image {
  width: 40px;
  height: auto;
}

/* .hourly-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin-top: 20px;
  background: #e3f2fd; /* Light blue background for visibility */
/* } */

/* .forecast-hour {
  flex: 0 1 20%; /* Adjust size and spacing */
  /* background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .forecast-hour div {
  margin: 5px 0;
} */


.small-header {
    padding: 10px 20px; /* Padding around the content */
    border-radius: 10px;
    display: flex; /* Enables flexbox layout */
    margin-bottom: 10px;
    font-style: bold;
    justify-content: space-between; /* Space between the title and navigation */
    align-items: center; /* Aligns items vertically in the center */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.dayly-forecast {
  display: flex;
  justify-content: space-between;
}

.forecast-day {
  background: #CAF4FF;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 20%;
  margin: 7px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.forecast-day.today {
  background: #A0DEFF;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.forecast-day .date {
  font-weight: bold;
  margin-bottom: 10px;
}


.forecast-day .temperature,
.forecast-day .humidity {
  font-size: 1em;
}
</style>
